@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofia<br />
    <abbr title="Phone">Phone Number:</abbr>
    +359 897 222342
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dimpeev@gmail.com">dimpev@gmail.com</a><br />
</address>