@model List<Forum.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<hr />

<div class="container">
    <div class="well">
        <div class="form-horizontal">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        if (ViewBag.Admins.Contains(user.Id))
                        {
                            @:<tr class="alert-info">
                        }
                        else
                        {
                            @:<tr>
                        }
                            <td>@user.UserName</td>
                            <td class="text-center">@Html.ActionLink("Edit", "Edit", "User", new { @id = user.Id }, null)</td>
                            <td class="text-center">@Html.ActionLink("Delete", "Delete", "User", new { @id = user.Id }, null)</td>
                    }
            </tbody>
        </table>
    </div>
    </div>
</div>

